ol.bibliography {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.site-header {
  height: unset;
  max-height: unset;
}

div.table-wrapper {
  margin: auto;
  width: fit-content;
}

div.table-wrapper table {
  min-width: none;
}